.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
  margin-top: 5px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 20px !important;
}

button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.employee {
  width: 1000px;
  height: auto;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.employee h3 {
  margin: 20px;
}

.verifyspace {
  margin-top: 5vh;
  border: 2px black solid;
  height: 400px;
  width: 530px;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
  color: RED;
}

.errortext {
  color: red;
}

.title {
  font-size: 40px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  right: 50px;
  padding: 50px;
  margin-top: -10px;
  font-family: serif;
}

.step {
  font-size: 30px;
  font-family: STSong, "Lucida Console", "Times New Roman", Times, serif;
}

.nobackground {
  background-color: transparent;
  outline: none;
}

.hasbottom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #aaaaaa 1px;
}

.buttonupload {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: STSong, "Lucida Console", "Times New Roman", Times, serif;
}

.linksize {
  height: 50px;
  font-size: 20px;
  background-color: black;
  color: white;
  width: 320px;
  height: auto;
  padding: 20px;
  text-align: center;
  margin: auto;
  visibility: hidden;
  text-decoration: none;
}

.linkClass {
  text-decoration: none;
}

.linkClass:link {
  color: white;
}

.linkClass:visited {
  color: white;
}
.linkClass:hover {
  color: white;
}

.isOksign {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 10%;
}
